<?xml version="1.0"?>
<config>
    <modules>
        <Hans2103_RssAuthAdmin>
            <version>0.1.0</version>
        </Hans2103_RssAuthAdmin>
    </modules>
    <global>
        <helpers>
            <rss>
                <rewrite>
                    <data>Hans2103_RssAuthAdmin_Helper_Data</data>
                </rewrite>
            </rss>
        </helpers>
    </global>
</config>